.bundle
db/*.sqlite3
log/*.log
*/log/*.log
tmp/*
*/tmp/*
public/system
*.DS_Store
coverage/*
*.swp
*~
rerun.txt
tags
!.keep
tmp/bundler
.rvmrc
*/sqlnet.log
*/config/database.yml
*/db/*.sqlite3
*/bin
database.yml
nbproject/*
nbproject/*/*
.idea
.idea/*
.idea/*/*
