<html>
<head>
<style type="text/css">
.logout
{
text-align:right;
font-size: 20px ;
}
</style>
</head>
<body>
<div class="logout">
<%= link_to 'logout', destroy_user_session_path %>
</div>
</body>
</html>

