<%= stylesheet_link_tag 'style-catalogue.css' %>
<!-- main container for page -->
<div class="wrapper container_24">
  <header class="banner_sm">
    <span>An initiative of <a href="http://www.tcs.com/homepage/Pages/default.aspx" target="blank">TCS</a> Maitree to empower the Women of Waze.</span>
  </header>

  <nav class="nav2">
    <div class="mainnav_sm btn_who">Who we are</div>
    <div class="mainnav_sm btn_prod">Our Products</div>
    <div class="mainnav_sm btn_contact">How to reach us?</div>
  </nav>
  <!-- for page display -->
  <section class="prod_page">
    <!-- side bar for factoid image-->
    <aside class="sidebar_whoweare">
      <div class="address"> <%= image_tag 'thumb_aboutus.jpg', :width=>"150", :height=>"115" %>
        <p><%= image_tag 'factoid_whoweare.gif', :width=>"150", :height=>"485" %></p>
      </div>
    </aside>
    <!-- for about us text -->
    <aricle class="prod_grid">
    <section id="breadcrumb"><%= link_to 'Home' ,root_url %> &gt; Who we are</section>



    <table class="prod_table" id="top">
      <tr>
        <td><p class="category">Who we are</p></td>
      </tr>
      <tr>
        <td>We are the women of Waze. We come from a rural, agricultural area called Wazapur in Raigad District, sixty kilometers away from the sprawling city of Mumbai in India. <br/>
          <br/>
          Ours is a story of grit and determination – a journey from diffidence and dependence to confidence and self-empowerment. We strongly believe that economic independence is the first step towards self- reliance and empowerment. Although we have come a long way from where we started, we believe that we have the confidence and skills to achieve much more.<br/>
          <br/></td>
      </tr>
      <tr>
        <td><p><span class="subhead1">Our Impetus</span><br/>

            <span>The WEP (Women Empowerment Program) in Wazapur was started in 2007 by an enthusiastic group of volunteers from TCS, one of India’s leading software services provider. This corporate social responsibility group, call themselves “Maitree” meaning friendship. They extended a warm hand of friendship to us and led us through our journey of progress.</span></p></td>
      </tr>
     <tr>
        <td><p><span class="subhead1">Spreading our wings</span><br/>

            <span>The long term objective was to make us financially independent. The question was how? After putting much thought into this, we finally embarked on our artistic journey of creating handicraft products like jute bags. We spread the word around, and by the end of one year, we were a group of twenty women, even from neighboring villages, with their skills honed in embroidery, stitching and craftwork. We received a great deal of help and support from Women’s India Trust. <br/><br/>
It was now time to go a step ahead, and establish ourselves in a place which could convert our art into much needed income. That saw the birth of Gram Vikas Abhiyaan Kendra established by TCS Maitree.
</span></p></td>
      </tr>
      <tr>
        <td><p><span class="subhead1">Bags and much more&#33;</span><br/>

            <span>We have been utilizing our creative capabilities to make beautiful, environment-friendly bags of denim, silk, cotton and even paper! Our bags have been much appreciated by whoever has seen them, but our enthusiasm doesn’t stop there. We are extending our products to include other household items like cushion covers, curtains, wall hangings and aprons!</span></p></td>
      </tr>
      <tr>
        <td><p><span class="subhead1">The road ahead</span><br/>

            <span>The transition from being just  house-wives in a rural agricultural area of India to being part of a small scale industry and contributing to our family income has boosted our confidence multi-fold and made us part of a larger family, our team! But we know we want to do more than this! Thanks to our wonderful team dynamics and skill, we are confident of taking up bulk orders and delivering in time. We are WOW – Women Organization Waze – Raring to Go!</span></p></td>
      </tr>



      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    </article>
    <!-- end of producst grid -->
  </section>
  <!-- end of prod page section - right pane -->
</div>
<!-- end of main container -->