<p id="notice"><%= notice %></p>

<%= render :partial => 'detail' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path(:sub_category_id => @product.sub_category_id) %>

